body {
	font-family: sans-serif;
	font-size: 10pt;
}

tr.odd {
	background-color: #c4ffc4;
}

tr.even {
	background-color: #eeffee;
}

#wrap {
	width: 100%;
	min-width: 800px;
}

#left_col {
	position: relative;
	margin: -6px -6px -6px -6px;
	float: left;
	width: 50%;
	min-width: 300;
}

#right_col {
	position: relative;
	margin: -6px -6px -6px -6px;
	width: 50%;
	float: right;
	min-width: 300;
}

.roundbox {
	margin-bottom: 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px 6px 6px 6px;
	-moz-box-shadow: 10px 10px 5px #888; 
	-webkit-box-shadow : 10px 10px 5px #888;
	box-shadow : 10px 10px 5px #888;
	background-color: #ffffee;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}

.row_hover {
	color: blue;
	cursor: pointer;
}

h1{
	color: #3383bb;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#dataTableDiv{
	margin: 6px 6px 6px 6px;
	padding: 6px 6px 6px 6px;
}
#inputDiv{
	margin: 6px 6px 6px 6px;
	padding: 6px 6px 6px 6px;
}
.ui-widget-header {
	font-weight:normal;
}