<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%p %d{HH:mm:ss.SSS} \(%c{0}\) %m%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<File>logs/fixity.log</File>
		<Append>true</Append>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<logger name="org.fcrepo" additivity="false" level="DEBUG">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<root additivity="false" level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
